body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:973px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u35601 {
  position:absolute;
  left:182px;
  top:82px;
  width:349px;
  height:243px;
}
#u35601_input {
  position:absolute;
  left:0px;
  top:0px;
  width:349px;
  height:243px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u35602_img {
  position:absolute;
  left:0px;
  top:0px;
  width:342px;
  height:2px;
}
#u35602 {
  position:absolute;
  left:190px;
  top:117px;
  width:341px;
  height:1px;
}
#u35603 {
  position:absolute;
  left:2px;
  top:-8px;
  width:337px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35604_div {
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u35604 {
  position:absolute;
  left:198px;
  top:96px;
  width:276px;
  height:16px;
}
#u35605 {
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  white-space:nowrap;
}
#u35606_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:28px;
}
#u35606 {
  position:absolute;
  left:493px;
  top:89px;
  width:35px;
  height:28px;
}
#u35607 {
  position:absolute;
  left:2px;
  top:6px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35608_div {
  position:absolute;
  left:0px;
  top:0px;
  width:801px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u35608 {
  position:absolute;
  left:172px;
  top:14px;
  width:801px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u35609 {
  position:absolute;
  left:0px;
  top:0px;
  width:801px;
  white-space:nowrap;
}
#u35610 {
  position:absolute;
  left:277px;
  top:174px;
  width:125px;
  height:16px;
}
#u35611 {
  position:absolute;
  left:16px;
  top:0px;
  width:107px;
  word-wrap:break-word;
}
#u35610_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u35612_div {
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CC0099;
}
#u35612 {
  position:absolute;
  left:428px;
  top:174px;
  width:352px;
  height:32px;
  color:#CC0099;
}
#u35613 {
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  white-space:nowrap;
}
#u35614_div {
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u35614 {
  position:absolute;
  left:194px;
  top:137px;
  width:337px;
  height:16px;
}
#u35615 {
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  white-space:nowrap;
}
#u35616 {
  position:absolute;
  left:262px;
  top:249px;
  width:140px;
  height:25px;
}
#u35616_input {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
