body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1216px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u23673_img {
  position:absolute;
  left:0px;
  top:0px;
  width:697px;
  height:2px;
}
#u23673 {
  position:absolute;
  left:185px;
  top:121px;
  width:696px;
  height:1px;
}
#u23674 {
  position:absolute;
  left:2px;
  top:-8px;
  width:692px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23675_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23675 {
  position:absolute;
  left:195px;
  top:96px;
  width:105px;
  height:16px;
}
#u23676 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u23677_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:28px;
}
#u23677 {
  position:absolute;
  left:846px;
  top:91px;
  width:35px;
  height:28px;
}
#u23678 {
  position:absolute;
  left:2px;
  top:6px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23679_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23679 {
  position:absolute;
  left:187px;
  top:139px;
  width:127px;
  height:16px;
}
#u23680 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u23681 {
  position:absolute;
  left:319px;
  top:135px;
  width:236px;
  height:25px;
}
#u23681_input {
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u23682 {
  position:absolute;
  left:626px;
  top:135px;
  width:82px;
  height:25px;
}
#u23682_input {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u23683 {
  position:absolute;
  left:207px;
  top:175px;
  width:679px;
  height:95px;
}
#u23684_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:30px;
}
#u23684 {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:30px;
}
#u23685 {
  position:absolute;
  left:2px;
  top:7px;
  width:112px;
  word-wrap:break-word;
}
#u23686_img {
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:30px;
}
#u23686 {
  position:absolute;
  left:116px;
  top:0px;
  width:285px;
  height:30px;
}
#u23687 {
  position:absolute;
  left:2px;
  top:7px;
  width:281px;
  word-wrap:break-word;
}
#u23688_img {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:30px;
}
#u23688 {
  position:absolute;
  left:401px;
  top:0px;
  width:187px;
  height:30px;
}
#u23689 {
  position:absolute;
  left:2px;
  top:7px;
  width:183px;
  word-wrap:break-word;
}
#u23690_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:30px;
}
#u23690 {
  position:absolute;
  left:588px;
  top:0px;
  width:86px;
  height:30px;
}
#u23691 {
  position:absolute;
  left:2px;
  top:7px;
  width:82px;
  word-wrap:break-word;
}
#u23692_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:30px;
}
#u23692 {
  position:absolute;
  left:0px;
  top:30px;
  width:116px;
  height:30px;
}
#u23693 {
  position:absolute;
  left:2px;
  top:7px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23694_img {
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:30px;
}
#u23694 {
  position:absolute;
  left:116px;
  top:30px;
  width:285px;
  height:30px;
}
#u23695 {
  position:absolute;
  left:2px;
  top:7px;
  width:281px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23696_img {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:30px;
}
#u23696 {
  position:absolute;
  left:401px;
  top:30px;
  width:187px;
  height:30px;
}
#u23697 {
  position:absolute;
  left:2px;
  top:7px;
  width:183px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23698_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:30px;
}
#u23698 {
  position:absolute;
  left:588px;
  top:30px;
  width:86px;
  height:30px;
}
#u23699 {
  position:absolute;
  left:2px;
  top:7px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23700_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:30px;
}
#u23700 {
  position:absolute;
  left:0px;
  top:60px;
  width:116px;
  height:30px;
}
#u23701 {
  position:absolute;
  left:2px;
  top:7px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23702_img {
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:30px;
}
#u23702 {
  position:absolute;
  left:116px;
  top:60px;
  width:285px;
  height:30px;
}
#u23703 {
  position:absolute;
  left:2px;
  top:7px;
  width:281px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23704_img {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:30px;
}
#u23704 {
  position:absolute;
  left:401px;
  top:60px;
  width:187px;
  height:30px;
}
#u23705 {
  position:absolute;
  left:2px;
  top:7px;
  width:183px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23706_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:30px;
}
#u23706 {
  position:absolute;
  left:588px;
  top:60px;
  width:86px;
  height:30px;
}
#u23707 {
  position:absolute;
  left:2px;
  top:7px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23709_div {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23709 {
  position:absolute;
  left:719px;
  top:392px;
  width:340px;
  height:16px;
}
#u23710 {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  word-wrap:break-word;
}
#u23711_div {
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23711 {
  position:absolute;
  left:169px;
  top:392px;
  width:272px;
  height:16px;
}
#u23712 {
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  word-wrap:break-word;
}
#u23713 {
  position:absolute;
  left:229px;
  top:392px;
  width:40px;
  height:16px;
}
#u23713_input {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u23713_input:disabled {
  color:grayText;
}
#u23714 {
  position:absolute;
  left:830px;
  top:212px;
  width:27px;
  height:16px;
}
#u23715 {
  position:absolute;
  left:16px;
  top:0px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23714_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u23716 {
  position:absolute;
  left:830px;
  top:242px;
  width:27px;
  height:16px;
}
#u23717 {
  position:absolute;
  left:16px;
  top:0px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23716_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u23718_div {
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CC0099;
}
#u23718 {
  position:absolute;
  left:893px;
  top:212px;
  width:323px;
  height:16px;
  color:#CC0099;
}
#u23719 {
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  white-space:nowrap;
}
