body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1799px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u45507_div {
  position:absolute;
  left:0px;
  top:0px;
  width:575px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CC0066;
}
#u45507 {
  position:absolute;
  left:247px;
  top:988px;
  width:575px;
  height:32px;
  color:#CC0066;
}
#u45508 {
  position:absolute;
  left:0px;
  top:0px;
  width:575px;
  white-space:nowrap;
}
#u45511_div {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u45511 {
  position:absolute;
  left:39px;
  top:20px;
  width:178px;
  height:33px;
  font-size:28px;
}
#u45512 {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  white-space:nowrap;
}
#u45513_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1491px;
  height:2px;
}
#u45513 {
  position:absolute;
  left:10px;
  top:63px;
  width:1490px;
  height:1px;
}
#u45514 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1486px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45515_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:890px;
}
#u45515 {
  position:absolute;
  left:166px;
  top:64px;
  width:1px;
  height:889px;
}
#u45516 {
  position:absolute;
  left:2px;
  top:436px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45517_div {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u45517 {
  position:absolute;
  left:1223px;
  top:29px;
  width:52px;
  height:15px;
  font-size:12px;
}
#u45518 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u45519_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  text-decoration:underline;
  color:#0000FF;
}
#u45519 {
  position:absolute;
  left:1365px;
  top:29px;
  width:25px;
  height:15px;
  font-size:12px;
  text-decoration:underline;
  color:#0000FF;
}
#u45520 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u45521 {
  position:absolute;
  left:9px;
  top:80px;
  width:144px;
  height:605px;
}
#u45521_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u45522 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u45523_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u45523 {
  position:absolute;
  left:22px;
  top:0px;
  width:71px;
  height:20px;
}
#u45524 {
  position:absolute;
  left:3px;
  top:2px;
  width:66px;
  white-space:nowrap;
}
#u45525 {
  position:absolute;
  left:0px;
  top:20px;
  width:80px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u45526_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u45526 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u45526_img.selected {
}
#u45526.selected {
}
#u45527 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45528_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u45528 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u45529 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u45525_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u45530 {
  position:absolute;
  left:20px;
  top:20px;
  width:54px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u45531_div {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u45531 {
  position:absolute;
  left:22px;
  top:0px;
  width:32px;
  height:20px;
}
#u45532 {
  position:absolute;
  left:3px;
  top:2px;
  width:27px;
  white-space:nowrap;
}
#u45533 {
  position:absolute;
  left:20px;
  top:40px;
  width:54px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u45534_div {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u45534 {
  position:absolute;
  left:22px;
  top:0px;
  width:32px;
  height:20px;
}
#u45535 {
  position:absolute;
  left:3px;
  top:2px;
  width:27px;
  white-space:nowrap;
}
#u45536 {
  position:absolute;
  left:20px;
  top:60px;
  width:67px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u45537_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u45537 {
  position:absolute;
  left:22px;
  top:0px;
  width:45px;
  height:20px;
}
#u45538 {
  position:absolute;
  left:3px;
  top:2px;
  width:40px;
  white-space:nowrap;
}
#u45539 {
  position:absolute;
  left:20px;
  top:80px;
  width:67px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u45540_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u45540 {
  position:absolute;
  left:22px;
  top:0px;
  width:45px;
  height:20px;
}
#u45541 {
  position:absolute;
  left:3px;
  top:2px;
  width:40px;
  white-space:nowrap;
}
#u45542 {
  position:absolute;
  left:0px;
  top:120px;
  width:80px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u45543_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u45543 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u45543_img.selected {
}
#u45543.selected {
}
#u45544 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45545_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u45545 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u45546 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u45542_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u45547 {
  position:absolute;
  left:20px;
  top:20px;
  width:80px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u45548_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u45548 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u45549 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u45550 {
  position:absolute;
  left:20px;
  top:40px;
  width:80px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u45551_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u45551 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u45552 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u45553 {
  position:absolute;
  left:0px;
  top:180px;
  width:80px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u45554_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u45554 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u45554_img.selected {
}
#u45554.selected {
}
#u45555 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45556_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u45556 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u45557 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u45553_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u45558 {
  position:absolute;
  left:20px;
  top:20px;
  width:106px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u45559_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u45559 {
  position:absolute;
  left:22px;
  top:0px;
  width:84px;
  height:20px;
}
#u45560 {
  position:absolute;
  left:3px;
  top:2px;
  width:79px;
  white-space:nowrap;
}
#u45561 {
  position:absolute;
  left:20px;
  top:40px;
  width:106px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u45562_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u45562 {
  position:absolute;
  left:22px;
  top:0px;
  width:84px;
  height:20px;
}
#u45563 {
  position:absolute;
  left:3px;
  top:2px;
  width:79px;
  white-space:nowrap;
}
#u45564 {
  position:absolute;
  left:0px;
  top:240px;
  width:80px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u45565_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u45565 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u45565_img.selected {
}
#u45565.selected {
}
#u45566 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45567_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u45567 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u45568 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u45564_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u45569 {
  position:absolute;
  left:20px;
  top:20px;
  width:54px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u45570_div {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u45570 {
  position:absolute;
  left:22px;
  top:0px;
  width:32px;
  height:20px;
}
#u45571 {
  position:absolute;
  left:3px;
  top:2px;
  width:27px;
  white-space:nowrap;
}
#u45572 {
  position:absolute;
  left:20px;
  top:40px;
  width:54px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u45573_div {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u45573 {
  position:absolute;
  left:22px;
  top:0px;
  width:32px;
  height:20px;
}
#u45574 {
  position:absolute;
  left:3px;
  top:2px;
  width:27px;
  white-space:nowrap;
}
#u45575 {
  position:absolute;
  left:0px;
  top:300px;
  width:80px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u45576_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u45576 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u45576_img.selected {
}
#u45576.selected {
}
#u45577 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45578_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u45578 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u45579 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u45575_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u45580 {
  position:absolute;
  left:20px;
  top:20px;
  width:106px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u45581_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u45581 {
  position:absolute;
  left:22px;
  top:0px;
  width:84px;
  height:20px;
}
#u45582 {
  position:absolute;
  left:3px;
  top:2px;
  width:79px;
  white-space:nowrap;
}
#u45583 {
  position:absolute;
  left:20px;
  top:40px;
  width:80px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u45584_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u45584 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u45585 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u45586 {
  position:absolute;
  left:20px;
  top:60px;
  width:106px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u45587_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u45587 {
  position:absolute;
  left:22px;
  top:0px;
  width:84px;
  height:20px;
}
#u45588 {
  position:absolute;
  left:3px;
  top:2px;
  width:79px;
  white-space:nowrap;
}
#u45589 {
  position:absolute;
  left:20px;
  top:80px;
  width:106px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u45590_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u45590 {
  position:absolute;
  left:22px;
  top:0px;
  width:84px;
  height:20px;
}
#u45591 {
  position:absolute;
  left:3px;
  top:2px;
  width:79px;
  white-space:nowrap;
}
#u45592 {
  position:absolute;
  left:20px;
  top:100px;
  width:106px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u45593_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u45593 {
  position:absolute;
  left:22px;
  top:0px;
  width:84px;
  height:20px;
}
#u45594 {
  position:absolute;
  left:3px;
  top:2px;
  width:79px;
  white-space:nowrap;
}
#u45595 {
  position:absolute;
  left:20px;
  top:120px;
  width:106px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u45596_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u45596 {
  position:absolute;
  left:22px;
  top:0px;
  width:84px;
  height:20px;
}
#u45597 {
  position:absolute;
  left:3px;
  top:2px;
  width:79px;
  white-space:nowrap;
}
#u45598 {
  position:absolute;
  left:0px;
  top:440px;
  width:80px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u45599_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u45599 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u45599_img.selected {
}
#u45599.selected {
}
#u45600 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45601_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u45601 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u45602 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u45598_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u45603 {
  position:absolute;
  left:20px;
  top:20px;
  width:80px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u45604_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u45604 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u45605 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u45606 {
  position:absolute;
  left:20px;
  top:40px;
  width:80px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u45607_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u45607 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u45608 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u45609 {
  position:absolute;
  left:20px;
  top:60px;
  width:80px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u45610_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u45610 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u45611 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u45612 {
  position:absolute;
  left:20px;
  top:80px;
  width:80px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u45613_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u45613 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u45614 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u45615 {
  position:absolute;
  left:20px;
  top:100px;
  width:95px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u45616_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u45616 {
  position:absolute;
  left:22px;
  top:0px;
  width:84px;
  height:20px;
}
#u45617 {
  position:absolute;
  left:3px;
  top:2px;
  width:79px;
  white-space:nowrap;
}
#u45618 {
  position:absolute;
  left:20px;
  top:120px;
  width:106px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u45619_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u45619 {
  position:absolute;
  left:22px;
  top:0px;
  width:84px;
  height:20px;
}
#u45620 {
  position:absolute;
  left:3px;
  top:2px;
  width:79px;
  white-space:nowrap;
}
#u45621 {
  position:absolute;
  left:20px;
  top:140px;
  width:119px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u45622_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u45622 {
  position:absolute;
  left:22px;
  top:0px;
  width:97px;
  height:20px;
}
#u45623 {
  position:absolute;
  left:3px;
  top:2px;
  width:92px;
  white-space:nowrap;
}
#u45624_div {
  position:absolute;
  left:0px;
  top:0px;
  width:538px;
  height:51px;
  background:inherit;
  background-color:rgba(0, 153, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u45624 {
  position:absolute;
  left:522px;
  top:12px;
  width:538px;
  height:51px;
}
#u45625 {
  position:absolute;
  left:2px;
  top:18px;
  width:534px;
  visibility:hidden;
  white-space:nowrap;
}
#u45626 {
  position:absolute;
  left:524px;
  top:12px;
  width:200px;
  height:25px;
}
#u45626_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u45627_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u45627 {
  position:absolute;
  left:732px;
  top:10px;
  width:51px;
  height:32px;
}
#u45628 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u45629 {
  position:absolute;
  left:522px;
  top:38px;
  width:60px;
  height:25px;
}
#u45629_input {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u45630 {
  position:absolute;
  left:612px;
  top:38px;
  width:60px;
  height:25px;
}
#u45630_input {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u45631 {
  position:absolute;
  left:702px;
  top:38px;
  width:60px;
  height:25px;
}
#u45631_input {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u45632 {
  position:absolute;
  left:792px;
  top:38px;
  width:60px;
  height:25px;
}
#u45632_input {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u45633 {
  position:absolute;
  left:892px;
  top:38px;
  width:60px;
  height:25px;
}
#u45633_input {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u45634 {
  position:absolute;
  left:982px;
  top:38px;
  width:60px;
  height:25px;
}
#u45634_input {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u45635 {
  position:absolute;
  left:832px;
  top:18px;
  width:60px;
  height:16px;
  color:#000000;
}
#u45636 {
  position:absolute;
  left:16px;
  top:0px;
  width:42px;
  word-wrap:break-word;
}
#u45635_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u45637 {
  position:absolute;
  left:922px;
  top:18px;
  width:70px;
  height:16px;
  color:#000000;
}
#u45638 {
  position:absolute;
  left:16px;
  top:0px;
  width:52px;
  word-wrap:break-word;
}
#u45637_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u45639 {
  position:absolute;
  left:1012px;
  top:18px;
  width:48px;
  height:16px;
  color:#000000;
}
#u45640 {
  position:absolute;
  left:16px;
  top:0px;
  width:30px;
  word-wrap:break-word;
}
#u45639_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u45641 {
  position:absolute;
  left:1072px;
  top:31px;
  width:141px;
  height:22px;
}
#u45641_input {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u45641_input:disabled {
  color:grayText;
}
#u45642_div {
  position:absolute;
  left:0px;
  top:0px;
  width:684px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF00CC;
}
#u45642 {
  position:absolute;
  left:1115px;
  top:13px;
  width:684px;
  height:16px;
  color:#FF00CC;
}
#u45643 {
  position:absolute;
  left:0px;
  top:0px;
  width:684px;
  white-space:nowrap;
}
#u45644_div {
  position:absolute;
  left:0px;
  top:0px;
  width:392px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CC0099;
}
#u45644 {
  position:absolute;
  left:1391px;
  top:29px;
  width:392px;
  height:48px;
  color:#CC0099;
}
#u45645 {
  position:absolute;
  left:0px;
  top:0px;
  width:392px;
  word-wrap:break-word;
}
#u45646_img {
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:16px;
}
#u45646 {
  position:absolute;
  left:217px;
  top:37px;
  width:296px;
  height:16px;
  font-size:14px;
  color:#CC0099;
}
#u45647 {
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  white-space:nowrap;
}
#u45648_div {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:1px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#CC0099;
}
#u45648 {
  position:absolute;
  left:561px;
  top:10px;
  width:141px;
  height:1px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#CC0099;
}
#u45649 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u45650_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u45650 {
  position:absolute;
  left:1291px;
  top:29px;
  width:57px;
  height:16px;
}
#u45650_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u45650.mouseOver {
}
#u45651 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u45652 {
  position:absolute;
  left:199px;
  top:173px;
  width:1237px;
  height:95px;
}
#u45653_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:30px;
}
#u45653 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:30px;
}
#u45654 {
  position:absolute;
  left:2px;
  top:7px;
  width:69px;
  word-wrap:break-word;
}
#u45655_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:30px;
}
#u45655 {
  position:absolute;
  left:73px;
  top:0px;
  width:129px;
  height:30px;
}
#u45656 {
  position:absolute;
  left:2px;
  top:7px;
  width:125px;
  word-wrap:break-word;
}
#u45657_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:30px;
}
#u45657 {
  position:absolute;
  left:202px;
  top:0px;
  width:155px;
  height:30px;
}
#u45658 {
  position:absolute;
  left:2px;
  top:7px;
  width:151px;
  word-wrap:break-word;
}
#u45659_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:30px;
}
#u45659 {
  position:absolute;
  left:357px;
  top:0px;
  width:153px;
  height:30px;
}
#u45660 {
  position:absolute;
  left:2px;
  top:7px;
  width:149px;
  word-wrap:break-word;
}
#u45661_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:30px;
}
#u45661 {
  position:absolute;
  left:510px;
  top:0px;
  width:117px;
  height:30px;
}
#u45662 {
  position:absolute;
  left:2px;
  top:7px;
  width:113px;
  word-wrap:break-word;
}
#u45663_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:30px;
}
#u45663 {
  position:absolute;
  left:627px;
  top:0px;
  width:125px;
  height:30px;
}
#u45664 {
  position:absolute;
  left:2px;
  top:7px;
  width:121px;
  word-wrap:break-word;
}
#u45665_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:30px;
}
#u45665 {
  position:absolute;
  left:752px;
  top:0px;
  width:85px;
  height:30px;
}
#u45666 {
  position:absolute;
  left:2px;
  top:7px;
  width:81px;
  word-wrap:break-word;
}
#u45667_img {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:30px;
}
#u45667 {
  position:absolute;
  left:837px;
  top:0px;
  width:156px;
  height:30px;
}
#u45668 {
  position:absolute;
  left:2px;
  top:7px;
  width:152px;
  word-wrap:break-word;
}
#u45669_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u45669 {
  position:absolute;
  left:993px;
  top:0px;
  width:110px;
  height:30px;
}
#u45670 {
  position:absolute;
  left:2px;
  top:7px;
  width:106px;
  word-wrap:break-word;
}
#u45671_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:30px;
}
#u45671 {
  position:absolute;
  left:1103px;
  top:0px;
  width:129px;
  height:30px;
}
#u45672 {
  position:absolute;
  left:2px;
  top:7px;
  width:125px;
  word-wrap:break-word;
}
#u45673_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:30px;
}
#u45673 {
  position:absolute;
  left:0px;
  top:30px;
  width:73px;
  height:30px;
  text-decoration:underline;
  color:#0033CC;
}
#u45674 {
  position:absolute;
  left:2px;
  top:7px;
  width:69px;
  word-wrap:break-word;
}
#u45675_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:30px;
}
#u45675 {
  position:absolute;
  left:73px;
  top:30px;
  width:129px;
  height:30px;
}
#u45676 {
  position:absolute;
  left:2px;
  top:7px;
  width:125px;
  word-wrap:break-word;
}
#u45677_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:30px;
}
#u45677 {
  position:absolute;
  left:202px;
  top:30px;
  width:155px;
  height:30px;
}
#u45678 {
  position:absolute;
  left:2px;
  top:7px;
  width:151px;
  word-wrap:break-word;
}
#u45679_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:30px;
}
#u45679 {
  position:absolute;
  left:357px;
  top:30px;
  width:153px;
  height:30px;
}
#u45680 {
  position:absolute;
  left:2px;
  top:7px;
  width:149px;
  word-wrap:break-word;
}
#u45681_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:30px;
}
#u45681 {
  position:absolute;
  left:510px;
  top:30px;
  width:117px;
  height:30px;
}
#u45682 {
  position:absolute;
  left:2px;
  top:7px;
  width:113px;
  word-wrap:break-word;
}
#u45683_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:30px;
}
#u45683 {
  position:absolute;
  left:627px;
  top:30px;
  width:125px;
  height:30px;
}
#u45684 {
  position:absolute;
  left:2px;
  top:7px;
  width:121px;
  word-wrap:break-word;
}
#u45685_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:30px;
}
#u45685 {
  position:absolute;
  left:752px;
  top:30px;
  width:85px;
  height:30px;
}
#u45686 {
  position:absolute;
  left:2px;
  top:7px;
  width:81px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45687_img {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:30px;
}
#u45687 {
  position:absolute;
  left:837px;
  top:30px;
  width:156px;
  height:30px;
}
#u45688 {
  position:absolute;
  left:2px;
  top:7px;
  width:152px;
  word-wrap:break-word;
}
#u45689_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u45689 {
  position:absolute;
  left:993px;
  top:30px;
  width:110px;
  height:30px;
}
#u45690 {
  position:absolute;
  left:2px;
  top:7px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45691_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:30px;
}
#u45691 {
  position:absolute;
  left:1103px;
  top:30px;
  width:129px;
  height:30px;
}
#u45692 {
  position:absolute;
  left:2px;
  top:7px;
  width:125px;
  word-wrap:break-word;
}
#u45693_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:30px;
}
#u45693 {
  position:absolute;
  left:0px;
  top:60px;
  width:73px;
  height:30px;
}
#u45694 {
  position:absolute;
  left:2px;
  top:7px;
  width:69px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45695_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:30px;
}
#u45695 {
  position:absolute;
  left:73px;
  top:60px;
  width:129px;
  height:30px;
}
#u45696 {
  position:absolute;
  left:2px;
  top:7px;
  width:125px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45697_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:30px;
}
#u45697 {
  position:absolute;
  left:202px;
  top:60px;
  width:155px;
  height:30px;
}
#u45698 {
  position:absolute;
  left:2px;
  top:7px;
  width:151px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45699_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:30px;
}
#u45699 {
  position:absolute;
  left:357px;
  top:60px;
  width:153px;
  height:30px;
}
#u45700 {
  position:absolute;
  left:2px;
  top:7px;
  width:149px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45701_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:30px;
}
#u45701 {
  position:absolute;
  left:510px;
  top:60px;
  width:117px;
  height:30px;
}
#u45702 {
  position:absolute;
  left:2px;
  top:7px;
  width:113px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45703_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:30px;
}
#u45703 {
  position:absolute;
  left:627px;
  top:60px;
  width:125px;
  height:30px;
}
#u45704 {
  position:absolute;
  left:2px;
  top:7px;
  width:121px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45705_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:30px;
}
#u45705 {
  position:absolute;
  left:752px;
  top:60px;
  width:85px;
  height:30px;
}
#u45706 {
  position:absolute;
  left:2px;
  top:7px;
  width:81px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45707_img {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:30px;
}
#u45707 {
  position:absolute;
  left:837px;
  top:60px;
  width:156px;
  height:30px;
}
#u45708 {
  position:absolute;
  left:2px;
  top:7px;
  width:152px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45709_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u45709 {
  position:absolute;
  left:993px;
  top:60px;
  width:110px;
  height:30px;
}
#u45710 {
  position:absolute;
  left:2px;
  top:7px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45711_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:30px;
}
#u45711 {
  position:absolute;
  left:1103px;
  top:60px;
  width:129px;
  height:30px;
}
#u45712 {
  position:absolute;
  left:2px;
  top:7px;
  width:125px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45713 {
  position:absolute;
  left:199px;
  top:104px;
  width:116px;
  height:25px;
}
#u45713_input {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u45714_div {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CC0099;
}
#u45714 {
  position:absolute;
  left:263px;
  top:29px;
  width:169px;
  height:16px;
  color:#CC0099;
}
#u45715 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u45716 {
  position:absolute;
  left:513px;
  top:105px;
  width:69px;
  height:25px;
}
#u45716_input {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u45717_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CC0099;
}
#u45717 {
  position:absolute;
  left:325px;
  top:109px;
  width:99px;
  height:16px;
  color:#CC0099;
}
#u45718 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u45719_div {
  position:absolute;
  left:0px;
  top:0px;
  width:433px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#CC0099;
}
#u45719 {
  position:absolute;
  left:205px;
  top:287px;
  width:433px;
  height:80px;
  font-size:13px;
  color:#CC0099;
}
#u45720 {
  position:absolute;
  left:0px;
  top:0px;
  width:433px;
  word-wrap:break-word;
}
#u45721 {
  position:absolute;
  left:276px;
  top:173px;
  width:111px;
  height:30px;
}
#u45721_input {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:30px;
  background-color:#CCCCCC;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u45721_input:disabled {
  color:grayText;
}
#u45722 {
  position:absolute;
  left:404px;
  top:173px;
  width:148px;
  height:30px;
}
#u45722_input {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:30px;
  background-color:#CCCCCC;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u45722_input:disabled {
  color:grayText;
}
