body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:656px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u22263_div {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:240px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22263 {
  position:absolute;
  left:326px;
  top:148px;
  width:330px;
  height:240px;
}
#u22264 {
  position:absolute;
  left:2px;
  top:112px;
  width:326px;
  word-wrap:break-word;
}
#u22265 {
  position:absolute;
  left:385px;
  top:323px;
  width:70px;
  height:25px;
}
#u22265_input {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u22266 {
  position:absolute;
  left:526px;
  top:323px;
  width:70px;
  height:25px;
}
#u22266_input {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u22267_div {
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CC0000;
}
#u22267 {
  position:absolute;
  left:354px;
  top:398px;
  width:292px;
  height:32px;
  color:#CC0000;
}
#u22268 {
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  word-wrap:break-word;
}
#u22269_img {
  position:absolute;
  left:0px;
  top:0px;
  width:331px;
  height:2px;
}
#u22269 {
  position:absolute;
  left:326px;
  top:183px;
  width:330px;
  height:1px;
}
#u22270 {
  position:absolute;
  left:2px;
  top:-8px;
  width:326px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22271_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22271 {
  position:absolute;
  left:334px;
  top:162px;
  width:79px;
  height:16px;
}
#u22272 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u22273_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:28px;
}
#u22273 {
  position:absolute;
  left:618px;
  top:151px;
  width:35px;
  height:28px;
}
#u22274 {
  position:absolute;
  left:2px;
  top:6px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
