body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:727px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u45483_div {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u45483 {
  position:absolute;
  left:423px;
  top:202px;
  width:76px;
  height:16px;
}
#u45484 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  white-space:nowrap;
}
#u45485 {
  position:absolute;
  left:500px;
  top:198px;
  width:208px;
  height:25px;
}
#u45485_input {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u45486_div {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u45486 {
  position:absolute;
  left:423px;
  top:164px;
  width:76px;
  height:16px;
}
#u45487 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  white-space:nowrap;
}
#u45488 {
  position:absolute;
  left:502px;
  top:160px;
  width:206px;
  height:25px;
}
#u45488_input {
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u45489 {
  position:absolute;
  left:423px;
  top:299px;
  width:98px;
  height:25px;
}
#u45489_input {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u45490 {
  position:absolute;
  left:615px;
  top:299px;
  width:104px;
  height:25px;
}
#u45490_input {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u45491_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:2px;
}
#u45491 {
  position:absolute;
  left:421px;
  top:140px;
  width:300px;
  height:1px;
}
#u45492 {
  position:absolute;
  left:2px;
  top:-8px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45493_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u45493 {
  position:absolute;
  left:429px;
  top:119px;
  width:57px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u45494 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u45495_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:28px;
}
#u45495 {
  position:absolute;
  left:692px;
  top:112px;
  width:35px;
  height:28px;
}
#u45496 {
  position:absolute;
  left:2px;
  top:6px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
