body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1400px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u36621_div {
  position:absolute;
  left:0px;
  top:0px;
  width:560px;
  height:176px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CC0099;
}
#u36621 {
  position:absolute;
  left:840px;
  top:310px;
  width:560px;
  height:176px;
  color:#CC0099;
}
#u36622 {
  position:absolute;
  left:0px;
  top:0px;
  width:560px;
  white-space:nowrap;
}
#u36623_div {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CC0099;
}
#u36623 {
  position:absolute;
  left:980px;
  top:339px;
  width:260px;
  height:100px;
  color:#CC0099;
}
#u36624 {
  position:absolute;
  left:2px;
  top:42px;
  width:256px;
  word-wrap:break-word;
}
#u36625 {
  position:absolute;
  left:1160px;
  top:411px;
  width:70px;
  height:25px;
}
#u36625_input {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u36626_div {
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CC0099;
}
#u36626 {
  position:absolute;
  left:1088px;
  top:446px;
  width:292px;
  height:16px;
  color:#CC0099;
}
#u36627 {
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  word-wrap:break-word;
}
#u36628_div {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:240px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u36628 {
  position:absolute;
  left:312px;
  top:154px;
  width:330px;
  height:240px;
}
#u36629 {
  position:absolute;
  left:2px;
  top:112px;
  width:326px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36630 {
  position:absolute;
  left:371px;
  top:329px;
  width:70px;
  height:25px;
}
#u36630_input {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u36631 {
  position:absolute;
  left:512px;
  top:329px;
  width:70px;
  height:25px;
}
#u36631_input {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u36632_img {
  position:absolute;
  left:0px;
  top:0px;
  width:331px;
  height:2px;
}
#u36632 {
  position:absolute;
  left:312px;
  top:189px;
  width:330px;
  height:1px;
}
#u36633 {
  position:absolute;
  left:2px;
  top:-8px;
  width:326px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36634_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u36634 {
  position:absolute;
  left:320px;
  top:168px;
  width:79px;
  height:16px;
}
#u36635 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u36636_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:28px;
}
#u36636 {
  position:absolute;
  left:604px;
  top:157px;
  width:35px;
  height:28px;
}
#u36637 {
  position:absolute;
  left:2px;
  top:6px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36638_div {
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CC0099;
}
#u36638 {
  position:absolute;
  left:295px;
  top:414px;
  width:355px;
  height:48px;
  color:#CC0099;
}
#u36639 {
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  white-space:nowrap;
}
#u36640_div {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CC0099;
}
#u36640 {
  position:absolute;
  left:240px;
  top:14px;
  width:270px;
  height:16px;
  color:#CC0099;
}
#u36641 {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  word-wrap:break-word;
}
#u36642 {
  position:absolute;
  left:380px;
  top:227px;
  width:140px;
  height:16px;
}
#u36643 {
  position:absolute;
  left:16px;
  top:0px;
  width:122px;
  word-wrap:break-word;
}
#u36642_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u36644 {
  position:absolute;
  left:380px;
  top:264px;
  width:130px;
  height:16px;
}
#u36645 {
  position:absolute;
  left:16px;
  top:0px;
  width:112px;
  word-wrap:break-word;
}
#u36644_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
