body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:640px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u41358_img {
  position:absolute;
  left:0px;
  top:0px;
  width:331px;
  height:2px;
}
#u41358 {
  position:absolute;
  left:310px;
  top:155px;
  width:330px;
  height:1px;
}
#u41359 {
  position:absolute;
  left:2px;
  top:-8px;
  width:326px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41360_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u41360 {
  position:absolute;
  left:318px;
  top:134px;
  width:53px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u41361 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u41362_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:28px;
}
#u41362 {
  position:absolute;
  left:602px;
  top:123px;
  width:35px;
  height:28px;
}
#u41363 {
  position:absolute;
  left:2px;
  top:6px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41364_div {
  position:absolute;
  left:0px;
  top:0px;
  width:312px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u41364 {
  position:absolute;
  left:319px;
  top:166px;
  width:312px;
  height:32px;
}
#u41365 {
  position:absolute;
  left:0px;
  top:0px;
  width:312px;
  word-wrap:break-word;
}
#u41366_div {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0066FF;
}
#u41366 {
  position:absolute;
  left:351px;
  top:222px;
  width:220px;
  height:16px;
  color:#0066FF;
}
#u41367 {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  word-wrap:break-word;
}
#u41368_div {
  position:absolute;
  left:0px;
  top:0px;
  width:312px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u41368 {
  position:absolute;
  left:320px;
  top:290px;
  width:312px;
  height:16px;
}
#u41369 {
  position:absolute;
  left:0px;
  top:0px;
  width:312px;
  word-wrap:break-word;
}
#u41370 {
  position:absolute;
  left:398px;
  top:371px;
  width:140px;
  height:25px;
}
#u41370_input {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
