body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:646px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u44553_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u44553 {
  position:absolute;
  left:294px;
  top:114px;
  width:57px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u44554 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u44555 {
  position:absolute;
  left:320px;
  top:312px;
  width:97px;
  height:25px;
}
#u44555_input {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u44556 {
  position:absolute;
  left:510px;
  top:312px;
  width:97px;
  height:25px;
}
#u44556_input {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u44557_img {
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  height:2px;
}
#u44557 {
  position:absolute;
  left:294px;
  top:133px;
  width:352px;
  height:1px;
}
#u44558 {
  position:absolute;
  left:2px;
  top:-8px;
  width:348px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44559_div {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u44559 {
  position:absolute;
  left:340px;
  top:200px;
  width:169px;
  height:16px;
  color:#000000;
}
#u44560 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u44561_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:28px;
}
#u44561 {
  position:absolute;
  left:605px;
  top:104px;
  width:35px;
  height:28px;
}
#u44562 {
  position:absolute;
  left:2px;
  top:6px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
