body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:795px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u23753_div {
  position:absolute;
  left:0px;
  top:0px;
  width:495px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23753 {
  position:absolute;
  left:300px;
  top:64px;
  width:495px;
  height:16px;
}
#u23754 {
  position:absolute;
  left:0px;
  top:0px;
  width:495px;
  white-space:nowrap;
}
#u23755_div {
  position:absolute;
  left:0px;
  top:0px;
  width:460px;
  height:240px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23755 {
  position:absolute;
  left:310px;
  top:120px;
  width:460px;
  height:240px;
}
#u23756 {
  position:absolute;
  left:2px;
  top:112px;
  width:456px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23757_img {
  position:absolute;
  left:0px;
  top:0px;
  width:461px;
  height:2px;
}
#u23757 {
  position:absolute;
  left:310px;
  top:155px;
  width:460px;
  height:1px;
}
#u23758 {
  position:absolute;
  left:2px;
  top:-8px;
  width:456px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23759_div {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23759 {
  position:absolute;
  left:318px;
  top:134px;
  width:68px;
  height:16px;
}
#u23760 {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  white-space:nowrap;
}
#u23761_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:28px;
}
#u23761 {
  position:absolute;
  left:730px;
  top:122px;
  width:35px;
  height:28px;
}
#u23762 {
  position:absolute;
  left:2px;
  top:6px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23763_div {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23763 {
  position:absolute;
  left:336px;
  top:194px;
  width:155px;
  height:16px;
}
#u23764 {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  white-space:nowrap;
}
#u23765_div {
  position:absolute;
  left:0px;
  top:0px;
  width:442px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23765 {
  position:absolute;
  left:318px;
  top:250px;
  width:442px;
  height:16px;
}
#u23766 {
  position:absolute;
  left:0px;
  top:0px;
  width:442px;
  word-wrap:break-word;
}
