body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1258px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u45450_div {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u45450 {
  position:absolute;
  left:641px;
  top:164px;
  width:76px;
  height:16px;
}
#u45451 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  white-space:nowrap;
}
#u45452 {
  position:absolute;
  left:720px;
  top:160px;
  width:208px;
  height:25px;
}
#u45452_input {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u45453_div {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u45453 {
  position:absolute;
  left:423px;
  top:164px;
  width:76px;
  height:16px;
}
#u45454 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  white-space:nowrap;
}
#u45455 {
  position:absolute;
  left:502px;
  top:160px;
  width:113px;
  height:25px;
}
#u45455_input {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u45456 {
  position:absolute;
  left:502px;
  top:195px;
  width:113px;
  height:25px;
}
#u45456_input {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u45457 {
  position:absolute;
  left:720px;
  top:195px;
  width:208px;
  height:25px;
}
#u45457_input {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u45458 {
  position:absolute;
  left:933px;
  top:160px;
  width:76px;
  height:25px;
}
#u45458_input {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u45459_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:27px;
}
#u45459 {
  position:absolute;
  left:933px;
  top:195px;
  width:29px;
  height:27px;
}
#u45460 {
  position:absolute;
  left:2px;
  top:6px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45461 {
  position:absolute;
  left:559px;
  top:461px;
  width:98px;
  height:25px;
}
#u45461_input {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u45462 {
  position:absolute;
  left:751px;
  top:461px;
  width:104px;
  height:25px;
}
#u45462_input {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u45463_img {
  position:absolute;
  left:0px;
  top:0px;
  width:589px;
  height:2px;
}
#u45463 {
  position:absolute;
  left:421px;
  top:140px;
  width:588px;
  height:1px;
}
#u45464 {
  position:absolute;
  left:2px;
  top:-8px;
  width:584px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45465_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u45465 {
  position:absolute;
  left:429px;
  top:119px;
  width:57px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u45466 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u45467_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:28px;
}
#u45467 {
  position:absolute;
  left:974px;
  top:112px;
  width:35px;
  height:28px;
}
#u45468 {
  position:absolute;
  left:2px;
  top:6px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45469_div {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CC0099;
}
#u45469 {
  position:absolute;
  left:1019px;
  top:165px;
  width:239px;
  height:32px;
  color:#CC0099;
}
#u45470 {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  white-space:nowrap;
}
#u45471 {
  position:absolute;
  left:502px;
  top:232px;
  width:113px;
  height:25px;
}
#u45471_input {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u45472 {
  position:absolute;
  left:720px;
  top:232px;
  width:208px;
  height:25px;
}
#u45472_input {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u45473_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:27px;
}
#u45473 {
  position:absolute;
  left:933px;
  top:232px;
  width:29px;
  height:27px;
}
#u45474 {
  position:absolute;
  left:2px;
  top:6px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45475_div {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u45475 {
  position:absolute;
  left:423px;
  top:200px;
  width:76px;
  height:16px;
}
#u45476 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  white-space:nowrap;
}
#u45477_div {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u45477 {
  position:absolute;
  left:423px;
  top:237px;
  width:76px;
  height:16px;
}
#u45478 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  white-space:nowrap;
}
#u45479_div {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u45479 {
  position:absolute;
  left:641px;
  top:200px;
  width:76px;
  height:16px;
}
#u45480 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  white-space:nowrap;
}
#u45481_div {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u45481 {
  position:absolute;
  left:641px;
  top:237px;
  width:76px;
  height:16px;
}
#u45482 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  white-space:nowrap;
}
