body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1095px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u28006_div {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:240px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28006 {
  position:absolute;
  left:310px;
  top:120px;
  width:330px;
  height:240px;
}
#u28007 {
  position:absolute;
  left:2px;
  top:112px;
  width:326px;
  word-wrap:break-word;
}
#u28008 {
  position:absolute;
  left:369px;
  top:295px;
  width:70px;
  height:25px;
}
#u28008_input {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u28009 {
  position:absolute;
  left:510px;
  top:295px;
  width:70px;
  height:25px;
}
#u28009_input {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u28010_div {
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CC0000;
}
#u28010 {
  position:absolute;
  left:338px;
  top:370px;
  width:292px;
  height:32px;
  color:#CC0000;
}
#u28011 {
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  word-wrap:break-word;
}
#u28012_img {
  position:absolute;
  left:0px;
  top:0px;
  width:331px;
  height:2px;
}
#u28012 {
  position:absolute;
  left:310px;
  top:155px;
  width:330px;
  height:1px;
}
#u28013 {
  position:absolute;
  left:2px;
  top:-8px;
  width:326px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28014_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28014 {
  position:absolute;
  left:318px;
  top:134px;
  width:53px;
  height:16px;
}
#u28015 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u28016_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:28px;
}
#u28016 {
  position:absolute;
  left:602px;
  top:123px;
  width:35px;
  height:28px;
}
#u28017 {
  position:absolute;
  left:2px;
  top:6px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28018_div {
  position:absolute;
  left:0px;
  top:0px;
  width:757px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CC0099;
}
#u28018 {
  position:absolute;
  left:338px;
  top:483px;
  width:757px;
  height:16px;
  color:#CC0099;
}
#u28019 {
  position:absolute;
  left:0px;
  top:0px;
  width:757px;
  white-space:nowrap;
}
