body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:795px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u23720 {
  position:absolute;
  left:314px;
  top:155px;
  width:140px;
  height:165px;
}
#u23720_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23721 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:20px;
}
#u23722_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u23722 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
  color:#333333;
}
#u23722_img.selected {
}
#u23722.selected {
}
#u23723 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23724_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23724 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u23725 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u23721_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23726 {
  position:absolute;
  left:20px;
  top:20px;
  width:93px;
  height:20px;
}
#u23727_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23727 {
  position:absolute;
  left:22px;
  top:0px;
  width:71px;
  height:20px;
}
#u23728 {
  position:absolute;
  left:3px;
  top:2px;
  width:66px;
  white-space:nowrap;
}
#u23729 {
  position:absolute;
  left:20px;
  top:40px;
  width:93px;
  height:20px;
}
#u23730_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23730 {
  position:absolute;
  left:22px;
  top:0px;
  width:71px;
  height:20px;
}
#u23731 {
  position:absolute;
  left:3px;
  top:2px;
  width:66px;
  white-space:nowrap;
}
#u23732 {
  position:absolute;
  left:20px;
  top:60px;
  width:80px;
  height:20px;
}
#u23733_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u23733 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u23733_img.selected {
}
#u23733.selected {
}
#u23734 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23735_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23735 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u23736 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u23732_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23737 {
  position:absolute;
  left:20px;
  top:20px;
  width:93px;
  height:20px;
}
#u23738_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23738 {
  position:absolute;
  left:22px;
  top:0px;
  width:71px;
  height:20px;
}
#u23739 {
  position:absolute;
  left:3px;
  top:2px;
  width:66px;
  white-space:nowrap;
}
#u23740 {
  position:absolute;
  left:20px;
  top:40px;
  width:95px;
  height:20px;
}
#u23741_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23741 {
  position:absolute;
  left:22px;
  top:0px;
  width:71px;
  height:20px;
}
#u23742 {
  position:absolute;
  left:3px;
  top:2px;
  width:66px;
  white-space:nowrap;
}
#u23743 {
  position:absolute;
  left:20px;
  top:120px;
  width:93px;
  height:20px;
}
#u23744_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23744 {
  position:absolute;
  left:22px;
  top:0px;
  width:71px;
  height:20px;
}
#u23745 {
  position:absolute;
  left:3px;
  top:2px;
  width:66px;
  white-space:nowrap;
}
#u23746 {
  position:absolute;
  left:20px;
  top:140px;
  width:93px;
  height:20px;
}
#u23747_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23747 {
  position:absolute;
  left:22px;
  top:0px;
  width:71px;
  height:20px;
}
#u23748 {
  position:absolute;
  left:3px;
  top:2px;
  width:66px;
  white-space:nowrap;
}
#u23749_div {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CC0099;
}
#u23749 {
  position:absolute;
  left:182px;
  top:58px;
  width:155px;
  height:16px;
  color:#CC0099;
}
#u23750 {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  white-space:nowrap;
}
#u23751_div {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CC0099;
}
#u23751 {
  position:absolute;
  left:584px;
  top:244px;
  width:211px;
  height:16px;
  color:#CC0099;
}
#u23752 {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  white-space:nowrap;
}
